/* line 6, ../../app/styles/show.sass */
.b-show {
  float: left;
  width: 270px;
  display: block;
  padding: 0px;
  cursor: pointer;
  margin-right: 7px;
  margin-left: 7px;
  margin-bottom: 14px;
  background: white;
  -moz-box-shadow: 0 1px 3px rgba(35, 26, 26, 0.4);
  -webkit-box-shadow: 0 1px 3px rgba(35, 26, 26, 0.4);
  box-shadow: 0 1px 3px rgba(35, 26, 26, 0.4);
}
/* line 24, ../../app/styles/show.sass */
.b-show .image-container {
  position: relative;
}
/* line 27, ../../app/styles/show.sass */
.b-show .image-container .details-container {
  padding: 8px 10px 0px;
  max-height: 256px;
  position: absolute;
  bottom: 0px;
  background-color: rgba(40, 40, 40, 0.6);
  color: #eeeeee;
}
/* line 35, ../../app/styles/show.sass */
.b-show .image-container .details-container .details {
  font-size: 11px;
  font-family: "Droid Serif", serif;
  padding-bottom: 1px;
}
/* line 40, ../../app/styles/show.sass */
.b-show .image-container .details-container .title {
  color: #eeeeee;
}
/* line 43, ../../app/styles/show.sass */
.b-show .image-container .details-container .description {
  max-height: 0px;
  -webkit-transition: max-height 0.6s ease-out;
  -moz-transition: max-height 0.6s ease-out;
  -o-transition: max-height 0.6s ease-out;
  transition: max-height 0.6s ease-out;
  padding-top: 6px;
}
/* line 48, ../../app/styles/show.sass */
.b-show .buttons-container {
  overflow: hidden;
  padding-bottom: 5px;
  color: white;
}
/* line 53, ../../app/styles/show.sass */
.b-show .buttons-container i {
  cursor: pointer;
}
/* line 56, ../../app/styles/show.sass */
.b-show .image {
  width: 270px;
  height: 270px;
}
/* line 60, ../../app/styles/show.sass */
.b-show .title {
  padding: 0px;
  margin: 0px;
  width: 250px;
  float: right;
  font-size: 20px;
  line-height: 1.1;
  letter-spacing: -1px;
  font-family: "Droid Serif", serif;
}
/* line 70, ../../app/styles/show.sass */
.b-show .channel {
  float: left;
  width: 70px;
  height: 47px;
  margin: 10px 5px;
}
/* line 76, ../../app/styles/show.sass */
.b-show .description {
  float: right;
  width: 250px;
  font-family: "Droid Sans", sans-serif;
  font-style: normal;
  font-size: 12px;
  line-height: 16px;
}
/* line 84, ../../app/styles/show.sass */
.b-show .description p {
  margin: 0px;
}

/* line 87, ../../app/styles/show.sass */
.b-show:hover .image-container .details-container .description {
  max-height: 200px !important;
}
