/* line 6, ../../app/styles/current_show.sass */
#b-current-show-section {
  margin: 20px auto 20px;
  width: 66%;
}

/* line 11, ../../app/styles/current_show.sass */
#b-current-show-section input {
  width: 95%;
  color: #080808;
  margin: 0px auto;
  display: block;
}

/* line 18, ../../app/styles/current_show.sass */
.b-current-show-container {
  overflow: hidden;
  background: white;
  -webkit-box-shadow: rgba(35, 26, 26, 0.4) 0 1px 3px;
  -moz-box-shadow: rgba(35, 26, 26, 0.4) 0 1px 3px;
  box-shadow: rgba(35, 26, 26, 0.4) 0 1px 3px;
}
/* line 23, ../../app/styles/current_show.sass */
.b-current-show-container .image-container {
  float: left;
  margin: 5px;
}
/* line 26, ../../app/styles/current_show.sass */
.b-current-show-container .image-container .image {
  width: 100px;
  height: 100px;
}
/* line 30, ../../app/styles/current_show.sass */
.b-current-show-container .info-container {
  overflow: hidden;
  margin: 5px;
}
/* line 34, ../../app/styles/current_show.sass */
.b-current-show-container .info-container .top, .b-current-show-container .info-container .bottom {
  overflow: hidden;
  height: 20px;
}
/* line 37, ../../app/styles/current_show.sass */
.b-current-show-container .info-container .middle {
  height: 60px;
  margin: 0px 5px;
}
/* line 41, ../../app/styles/current_show.sass */
.b-current-show-container .info-container .title {
  margin: 0px;
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
}
/* line 46, ../../app/styles/current_show.sass */
.b-current-show-container .info-container .watching-label, .b-current-show-container .info-container .channel {
  float: left;
  margin: 0px 5px;
}
/* line 50, ../../app/styles/current_show.sass */
.b-current-show-container .buttons-container {
  float: right;
  margin: 5px;
  font-size: 20px;
  width: 20px;
  height: 100px;
  text-align: center;
  position: relative;
}
/* line 59, ../../app/styles/current_show.sass */
.b-current-show-container .buttons-container i {
  cursor: pointer;
}
/* line 62, ../../app/styles/current_show.sass */
.b-current-show-container .buttons-container .top {
  position: absolute;
  top: 0;
}
/* line 65, ../../app/styles/current_show.sass */
.b-current-show-container .buttons-container .bottom {
  position: absolute;
  bottom: 0;
}

@media (max-width: 582px) {
  /* line 71, ../../app/styles/current_show.sass */
  #b-current-show-section {
    width: 270px;
  }

  /* line 73, ../../app/styles/current_show.sass */
  .b-current-show-container .image-container {
    display: none;
  }
}
