@import variables
@import compass_twitter_bootstrap
@import compass_twitter_bootstrap_responsive
@import compass_twitter_bootstrap_awesome
@import bootstrap-modal
@import app_variables
@import current_show
@import show
@import landing

body 
  padding: 0px  
  background: 
    color: $grayLighter 
    image: url("../images/bg.png") 
    repeat: repeat

.navbar
  margin-bottom: 0px

.navbar-inner 
  -webkit-border-radius: 0
  -moz-border-radius: 0
  border-radius: 0

//.brand-like
//  @extend .brand

#shows-section
  margin: 0px auto
  overflow: hidden
  padding: 0px 7px

#shows-section
  @media (max-width: $showWidth*2 + $showsOffset)
    width: $showWidth
  @media (min-width: $showWidth*2 + $showsOffset) and (max-width: $showWidth*3 + $showsOffset)
    width: $showWidth*2
  @media (min-width: $showWidth*3 + $showsOffset) and (max-width: $showWidth*4 + $showsOffset)
    width: $showWidth*3
  @media (min-width: $showWidth*4 + $showsOffset) and (max-width: $showWidth*5 + $showsOffset)
    width: $showWidth*4
  @media (min-width: $showWidth*5 + $showsOffset)
    width: $showWidth*5

@media (max-width: $smallLimit)
  .hide-small
    display: none
  .navbar-inner
    padding-right: 0px

