@import "variables"
@import "compass_twitter_bootstrap"
@import "compass_twitter_bootstrap_responsive"

body 
  padding: 0px  
  background: 
    color: $grayLighter 
    image: url("../images/bg.png") 
    repeat: repeat

.navbar-inner 
  -webkit-border-radius: 0
  -moz-border-radius: 0
  border-radius: 0

#shows-section
  margin: 0px auto
  overflow: hidden
  padding: 0px 7px

  h2 
    text-align: center
    text-shadow: 0px 1px 0px #529D9A
    color: $grayDarker !important
    font-family: 'Merriweather',serif
    font-weight: 600
    font-size: 30px
    line-height: 40px

.b-current-show-container
  background: white

  -moz-box-shadow: 0 1px 3px hsla(0, 15%, 12%, 0.4)
  -webkit-box-shadow: 0 1px 3px hsla(0, 15%, 12%, 0.4)
  box-shadow: 0 1px 3px hsla(0, 15%, 12%, 0.4)

  padding: 8px
  overflow: hidden

  .image 
    width: 100px
    height: 100px
    float: left

  .title
    padding: 0px 10px
    font-size: 22px


.b-show
  float: left
  width: 270px
  display: block
  padding: 0px 0px 2px 0px

  margin:
    right: 7px
    left: 7px
    bottom: 14px

  background: white

  -moz-box-shadow: 0 1px 3px hsla(0, 15%, 12%, 0.4)
  -webkit-box-shadow: 0 1px 3px hsla(0, 15%, 12%, 0.4)
  box-shadow: 0 1px 3px hsla(0, 15%, 12%, 0.4)
  
  .info-container 
    overflow: hidden
  
  .image 
    width: 270px
    height: 270px
  
  .title 
    width: 180px
    float: right
    padding: 5px
    font-size: 17px
    line-height: 24px

  .channel
    float: left
    width: 70px
    height: 47px
    margin: 10px 5px

#b-current-show-section
  margin: 10px auto 20px
  width: 66%

  input
    width: 100%
    color: $grayDarker


$showWidth: 284px
$showsOffset: 14px

#shows-section
  @media (max-width: $showWidth*2 + $showsOffset)
    width: $showWidth
  @media (min-width: $showWidth*2 + $showsOffset) and (max-width: $showWidth*3 + $showsOffset)
    width: $showWidth*2
  @media (min-width: $showWidth*3 + $showsOffset) and (max-width: $showWidth*4 + $showsOffset)
    width: $showWidth*3
  @media (min-width: $showWidth*4 + $showsOffset) and (max-width: $showWidth*5 + $showsOffset)
    width: $showWidth*4
  @media (min-width: $showWidth*5 + $showsOffset)
    width: $showWidth*5

@media (max-width: 400px)
  .hide-small
    display: none
  .navbar-inner
    padding-right: 0px