@import variables
@import app_variables
@import compass/css3/transition
@import compass/css3/opacity

.b-show
  float: left
  width: 270px
  display: block
  padding: 0px
  cursor: pointer

  margin:
    right: 7px
    left: 7px
    bottom: 14px

  background: white

  -moz-box-shadow: 0 1px 3px hsla(0, 15%, 12%, 0.4)
  -webkit-box-shadow: 0 1px 3px hsla(0, 15%, 12%, 0.4)
  box-shadow: 0 1px 3px hsla(0, 15%, 12%, 0.4)

  .image-container
    position: relative
    
    .buttons-container
      position: absolute
      bottom: 0px

    .details-container
      padding: 8px 10px 0px
      max-height: 256px
      position: absolute
      bottom: 0px
      background-color: rgba(40, 40, 40, 0.6)
      color: $grayLighter

      .details
        font-size: 11px
        font-family: 'Droid Serif', serif
        padding-bottom: 1px

      .title      
        color: $grayLighter

      .description
        max-height: 0px
        @include transition(max-height .6s ease-out)
        padding-top: 6px 

  .buttons-container
    display: none
    width: 90%
    height: 32px
    background-color: rgba(40, 40, 40, 0.6)
    padding: 0px 5%

    i
      cursor: pointer
      color: white
  
  .image 
    width: 270px
    height: 270px
  
  .title 
    padding: 0px
    margin: 0px
    width: 250px
    float: right
    font-size: 20px
    line-height: 1.1
    letter-spacing: -1px
    font-family: 'Droid Serif', serif

  .channel
    float: left
    width: 70px
    height: 47px
    margin: 10px 5px

  .description
    float: right
    width: 250px
    font-family: 'Droid Sans', sans-serif
    font-style: normal
    font-size: 12px
    line-height: 16px

    p
      margin: 0px

.b-show:hover .image-container .details-container .description
  max-height: 200px !important